div{
    background-image: url('Imgfundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

h1{
    font-family: "Times New Roman", Times, fantasy;
    font
}